<div class="container-fluid">
    <div class="row">
      <nav id="nav" class="navbar navbar-expand bg-dark navbar-dark">
        <a id="logo" class="navbar-brand" href="#">
          <img id="logoImg" src="..\assets\images\logo.png" alt="Logo">
        </a>
        <h1 id="companyHeader">Netto Logistics</h1>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Link 1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link 2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link 2</a>
            </li>
        </ul>   
      </nav>
      
      <nav id="navMobile" class="navbar navbar-expand-xl bg-dark navbar-dark">
        <a id="logo" class="navbar-brand mb-2" href="#">
          <img id="logoImg" src="..\assets\images\logo.png" alt="Logo">
        </a>        
        <button id="hamburgerMenu" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <h1 id="companyHeader">Netto Logistics</h1>
        <div class="collapse" id="navbarToggleExternalContent">
          <ul class="menulist list-unstyled">
            <li><a class="menuitems" href="#">ABOUT</a></li>		
            <li><a class="menuitems" href="#">CASE STUDIES</a></li>				
            <li><a class="menuitems" href="#">CONTACT</a></li>
            <li><a class="menuitems" href="#">RESUME</a></li>
          </ul>
        </div>
      </nav>
    </div>
</div>
  